[submodule "themes/hexo-theme-bamboo"]
	path = themes/hexo-theme-bamboo
	url = https://github.com/flyghost/hexo-theme-bamboo.git
[submodule "source/_posts/creekwater-blog-file"]
	path = source/_posts/creekwater-blog-file
	url = https://github.com/flyghost/creekwater-blog-file.git
